*{margin: 0;padding:0;}
*{box-sizing: border-box;}

.window{
    width:400px;
    height: 250px;
    margin:20px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow:0px 0px 3px 0px rgba(50, 50, 50, 0.75);
}
.images{
    display: flex;
    transition: all 0.3s;
}
.buttonList{
    width: 600px;
    margin: 0 auto;
    position: relative;
}
.container{
    position: relative;
}
.controls>button{
    display: inline-block;
    margin: 0 77px;
    padding: 10px;

}
.buttonWrapper{
    position: absolute;
    top:0;
    left: 228px;
}
.buttonWrapper>button{
    display: inline-block;
    font-size: 15px;
    padding: 10px;
}
/*.images> img:nth-child(1){
    position: absolute;
    top:0;
    left:0;
}
.images> img:nth-child(2){
    position: absolute;
    top:0;
    left:100%;
}
.images> img:nth-child(3){
    position: absolute;
    top:0;
    left:100%;
}
.images > img.right{
    position: absolute;
    top:0;
    left:100%
}*/
/*.images> img.current{
    left: 0;
    transform:translateX(0);
    z-index: 1;
}
.images>img.leave{
    transform: translateX(-100%);
    z-index: 1;
}
.images>img.enter{
    transform: translateX(100%);
}*/